.hero-unit
  %h1
    Wish Your Gift
  %p
    When your birthday has come, you get present what you want!
    %br
    When your friend's birthday has come, you can give a present what your friend's want!

    .btn.btn-primary.btn-large
      Try it with facebook
