.alert.alert-success
  %button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
    ☓
  %h4
    Success!!
  Your wishlist was posted to facebook wall!

= link_to 'return to your wishlist', :action => :index