- if update_wishlist_id?
  .alert.alert-success
    %button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
      ☓
    Your wishlist ID was updated!
- if update_affiliate_id?
  .alert.alert-success
    %button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
      ☓
    Your amazon affiliate ID was updated!
= render "wishlist_form"