.alert.alert-success
  %button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
    ☓
  Your wishlist ID was updated!
%h2
  Settings
%p
  Input your amazon wishlist ID
= form_for(@wishlist, :html => {:class => "navbar-form pull-left"}) do |f|
  .well.well-small
    = f.text_field :key, :class => "span3", :size => 128
    = f.submit "submit", :class => "btn"